{
    "presets": [[
      "@babel/preset-env", {
        "targets": {"chrome":55},
        "useBuiltIns": "entry"
      }],
      "@babel/preset-react"],
    "plugins": [
        "@babel/transform-runtime"
    ]
  }
