.labelNavBarContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  *:focus { outline:none; }

  .linkButtonContainer {
    display: flex;
    width: 50%;
  }

  .newLabelButtonContainer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;


    .newLabelButton {
      display: flex;
      background-color:  #2ea44f;
      border: 1px solid #647c6b;
      border-radius: 2px;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 13px;
      padding: 3px 5px;
    }
  }
}
