#filterArea {
  width: 80%;
  color: #586069;
  padding: 15px 10px;
  background-color: #fafbfc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  border: 1px solid rgb(225, 228, 232);
  border-radius: 6px 6px 0 0;

  .chkBox {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
  }

  .checkedAll {
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: #3a79fe;
    &:before {
      content: "✔";
    }
  }

  .checked {
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: #3a79fe;
    &:before {
      content: "━";
      font-weight: bold;
    }
  }

  #rightMenu {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .optBtn {
      cursor: pointer;
      &:hover {
        color: #24292e;
      }
    }
  }
}

#issueCardArea {
  width: 80%;
  min-height: 200px;

  .emptyList {
    width: 100%;
    min-height: 200px;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border: 1px solid rgb(225, 228, 232);
    border-top: 0;
    align-items: center;
  }

  #noResult {
    display: flex;
    flex-direction: column;

    #noResultIcon {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 48px;
      padding-left: 2px;
      font-size: 40px;
      margin-bottom: 20px;
      border: 7px solid #e6e6e6;
      border-radius: 40px;
    }

    #noResultmsg {
      font-size: 25px;
      font-weight: 800;
    }
  }

  #loading {
    #loadingImg {
      width: 50px;
      height: 50px;
    }
  }
}
