#editIssueArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  #sideBar {
    width: 25%;
  }

  #issueComponentsArea {
    width: 70%;
    // padding: 0 4%;
  }

  #issueHeaderArea {
    width: 80%;
  }
}
