#commentButtonArea {
  display: flex;
  width: 100%;
  justify-items: flex-end;
  align-items: center;

  .cancel,
  .update {
    border-radius: 2.5px;
    font-weight: bold;
    margin: 0 1%;
    border: 1px solid #777777;
  }

  .cancel {
    background-color: #fafbfc;
    color: red;
  }

  .update {
    background-color: #2cbe4e;
    color: white;
  }
}
