.dropDownMilestoneName{
    border-top: 1px solid rgb(225, 228, 232);
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #f6f8fa;
      }
}