#newIssueArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;

  #issueProfile {
    width: 50px;
    height: 50px;
  }

  #editorArea {
    width: 60%;
    padding: 10px;
    border: 1px solid #ced2d7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    #newIssueOpt {
      border-bottom: 1px solid #ced2d7;
      margin-bottom: 20px;

      #writeBtn {
        width: 150px;
        padding: 5px;
        background-color: white;
        margin-left: 5px;
        text-align: center;
        border: 1px solid #ced2d7;
        border-radius: 4px;
        border-bottom: 0;
      }
    }
  }

  #sideBar {
    width: 30%;
  }

  #newIssueTitle {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    background-color: #fafbfc;
    border: 1px solid #ced2d7;
    border-radius: 4px;
  }

  #btnArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;

    #cancelBtn {
      font-size: 18px;
      color: #858585;
      margin-left: 4px;
      cursor: pointer;
    }
  }
}
