.dropDownLabelCard{
    border-top: 1px solid rgb(225, 228, 232);
    padding: 7px;
    display: flex;
    flex-flow: column;
    flex: 1;

    &:hover {
        background-color: #f6f8fa;
      }

    .dropDownLabelColorNameContainer{
        display: flex;
    }

    .dropDownLabelColorContainer{
        display: flex;
        align-items: center;
        flex: 1;
        padding-left: 20px;
        padding-right: 0;
    }

    .dropDownLabelNameContainer{
        display: flex;
        align-items: center;
        flex: 8;
        padding-left: 0px;
        font-weight: 600;
    }

    .dropDownLabelDescriptionContainer{
        display: flex;
        align-items: center;
        padding-left: 48px;
    }
}