#labelCardCountArea {
  color: #586069;
  padding: 15px 10px;
  background-color: #fafbfc;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(225, 228, 232);
  border-radius: 6px 6px 0 0;
  padding: 20px;
  font-size: 13px;
  font-weight: 700;
}

#labelListArea {
  width: 80%;
  display: flex;
  flex-flow: column;
}
