.dropDownUserCard{
    border-top: 1px solid rgb(225, 228, 232);
    padding: 7px;
    display: flex;
    flex: 1;

    &:hover {
        background-color: #f6f8fa;
      }

    .dropDownprofilePictureContainer{
        display: flex;
        padding-left: 30px;
        flex: 1;
    }
    .dropDownUserIdContainer{
        display: flex;
        flex: 3;
    }
}