.issueLink {
  text-decoration: none;
  color: black;
}

.issueCard {
  width: 100%;
  padding: 7px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  border: 1px solid rgb(225, 228, 232);
  border-top: 0;

  &:hover {
    background-color: #f6f8fa;
  }

  .issueContents {
    width: 70%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: flex-start;

    .mainInfo {
      font-size: 18px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      justify-items: center;
      line-height: 22px;

      .icon {
        margin-right: 10px;
      }
    }

    .subInfo {
      font-size: 13px;
      color: gray;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 30px;

      .issueSubTitle {
        margin-right: 15px;
      }
    }
  }

  .sideContents {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

    div {
      display: flex;
      justify-items: center;
      line-height: 20px;
    }
  }
}
