#issueHeaderArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 9px;
  padding: 2% 3% 0% 3%;

  .edit {
    font-weight: bold;
    border: 1px solid #777777;
    border-radius: 2.5px;
    color: black;
    background-color: #fafbfc;
  }

  .save {
    font-weight: bold;
    border: 1px solid #777777;
    border-radius: 2.5px;
    color: black;
    background-color: #fafbfc;
  }

  .cancel {
    font-weight: bold;
    border: none;
    background-color: white;
    color: #85cafc;
  }
  .hide {
    display: none;
  }

  .title {
    display: flex;
    width: 70%;
    color: black;
    padding: 0;
    .issueId {
      color: gray;
      padding: 0 0 0 1%;
    }
  }
  .clickedTitle {
    width: 80%;
    border: 1px solid #777777;
    box-shadow: 0.5px 0.5px 1.5px 1.5px #85cafc;
    padding: 0.5%;
    border-radius: 2.5px;
  }
}

#statusArea {
  display: flex;
  padding: 1% 2.7% 0% 2.7%;
  .isopen {
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 2.5px;
    border: none;
    margin-right: 1%;
    height: 26px;
  }
  .open {
    background-color: #2cbe4e;
  }
  .closed {
    background-color: #cb2431;
  }

  .openner {
    font-weight: bold;
    margin-right: 1%;
  }
}
