.dropDownContainter{
    width: 200px;
    border-radius: 6px;
    border: 1px solid rgb(225, 228, 232);
    font-size: 13px;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 5px rgb(225, 228, 232);
    z-index: 3;

.dropDownBarContainter{
    border-radius: 6px 6px 0 0;
    background-color: #fafbfc;
    padding: 7px;
    font-weight: 700;
}

.dropDownListContainter{
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    max-height: 200px;
    overflow: scroll;
}
}

