#headerArea {
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 9px;
    padding: 0.5%;
  }

  .title {
    margin: 1% 0;
    padding: 1% 0 0 0;
  }

  .imogi {
    font-size: 15px;
    margin: 0;
  }
}
