.top {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: black;
  color: white;
  font-size: 9px;
  padding: 0.5%;
}
.headerTitle {
  font-size: 20px;
  line-height: 30px;
}
.imogi {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
